:root {
  --primary-color: rgb(172, 177, 191);
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.introduction {
background:url(images/darklaptop-three.jpeg) center no-repeat;
width: 100%;
margin-bottom: 70px;
padding: 60px;
overflow: hidden;
}

 body {
   background: rgb(172, 177, 191);
 }


#intro {
  margin: 22px 70px;
  text-align: center;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0 auto;
  color: rgb(164, 169, 182);
}

h1 {
  font-size: 90px;
  font-weight: 600;
  
}

h2 {
  font-size: 38px;
  color: rgb(102, 104, 108);
}

h3 {
  font-size: 34px;
  opacity: 0.7;
}

p {
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: inline;
  
}

strong {
  font-size: 48px;
  font-weight: 500;
}

.about-paragraphs {
  text-align: center;
  color:rgb(187, 184, 184)
}

.navigation-links {
  display: flex;
  justify-content: center;
}

.navigation-links a {
  margin: 40px;
  border-radius: 4px;
  padding: 12px 24px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  border: 7px solid rgba(63, 61, 61, 4%);
  backdrop-filter: blur(10px);
  box-shadow: var(--box-shadow);
  color: var(--primary-color);
  font-weight: 600;
}

.about-link {
  border: 7px solid rgba(63, 61, 61, 4%);
  backdrop-filter: blur(13px);
  box-shadow: var(--box-shadow);
  color: var(--primary-color);
  font-weight: 600;
}


a:hover { 
  transition: all 200ms ease-in-out;
  color:rgb(187, 184, 184);
}



.about-link:hover {
transition: all 200ms ease-in-out;
background-color: rgba(201, 193, 193, 0.3);
}

.contact-link:hover {
transition: all 200ms ease-in-out;
background-color: rgba(201, 193, 193, 0.3);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}


 #contact a,
 h2 {
  font-size: 30px;
}

#contact {
 padding: 50px;
}

.app-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.yoga-link,
.weather-link,
.yogurt-link {
background : #161922;

  box-shadow: var(--box-shadow);
  color: white;
}

@media (max-width: 576px) {
  body {
    text-align: center;
}

h3 {
  font-size: 20px;
}

h1 {
  font-size: 60px;
  margin-bottom: 15px;
}

img {
  display: none;
}

p {
  margin: 10px 10px 30px 5px;
}

.app-links a {
padding: 20px 50px 20px 50px;
margin: 50px 20px;
font-size: 17px;
}
}




